@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

*{
    box-sizing: border-box;
}
.container{
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 50vw;

    .content-container{
        padding-top: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 15px;
        text-align: center;
        font-weight: bold;
        p{
            text-shadow: -1px -1px 0 white,  
            1px -1px 0 white,
           -1px  1px 0 white,
            1px  1px 0 white;

            width: 80%;
            text-align: center;
            margin: auto;

        }

        .row1{
            height: 85vh;
            background-color: #9a64a6;
            display: flex;
            flex-direction: column;
        }

        /* .item01, .item02, .item03, .item04, .item05, .item06, .item07, .item11, .item12, .item13, .item14, .item15, .item16, .item21, .item22, .item23, .item24, .item25, .item26, .item31, .item32, .item33, .item34, .item035, .item36, .item37, .item41, .item42, .item43, .item44, .item45, .item46{ */
            /* border */
        /* } */

        /* .item01, .item02, .item03, .item04, .item05, .item06, .item07, .item11, .item12, .item13, .item14, .item15, .item16, .item21, .item22, .item23, .item24, .item25, .item26, .item31, .item32, .item33, .item34, .item035, .item36, .item37, .item41, .item42, .item43, .item44, .item45, .item46,:hover{
            transform: scale(1.2);
            border-color: black;
            cursor: pointer;
        } */

        /* .row1 div, .row2 div, .row3 div, .row4 div, .row5 div{
            border: 2px solid transparent;
        } */

        .row1 img:hover,
        .row2 img:hover,
        .row3 img:hover,
        .row4 img:hover,
        .row5 img:hover
        {
            border: 2px solid black;
            cursor: pointer;
            
        }

        .row1 img:hover,
        .row2 img:hover,
        .row3 img:hover,
        .row4 img:hover,
        .row5 img:hover{
            transform: scale(1.1);
        }

        .row2{
            height: 85vh;
            background-color: #4a91b9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .row3{
            height: 85vh;
            background-color: #889c5e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .row4{
            height: 85vh;
            background-color: #dc9456;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .row5{
            height: 85vh;
            background-color: #d97db5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .button-container{
        padding-top: 15px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        width: 50vw;
        justify-content: center;
        align-items: center;

        .pick{
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            button{
                padding: 5px 8px;
                background-color: antiquewhite;
                border-radius: 50%;
                font-size: 1.1em;
            }

            button:hover{
                background-color: aliceblue;
            }
        }
    }

    .output-container{
        display: flex;
        flex-direction: column;

        .output-text{
            padding-bottom: 10px;
        }
        .output-button{
            gap: 20px;
            display: flex;
            flex-direction: row;

            button{
                padding: 3px 5px;
                background-color: aliceblue;
                border-radius: 10px;
                
            }
        }
    }
}


    img{
        width: 120px;
        height: auto;
    }

    p{
        padding: 0;
        margin: 0;
    }
